NEXT_PUBLIC_WC_PROJECT_ID=
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_PENALTY_RESERVE_ADDRESS=
NEXT_PUBLIC_DEFAULT_TOKEN_SYMBOL=mUSD
NEXT_PUBLIC_DEFAULT_TOKEN_ADDRESS=0x24a4aA28f0bE53f6466BFa681f94aDdb1F26F003
NEXT_PUBLIC_DEFAULT_TOKEN_DECIMALS=18
