NEXT_PUBLIC_WC_PROJECT_ID=
NEXT_PUBLIC_TARGET_CHAIN_ID=11142220
NEXT_PUBLIC_FACTORY_ADDRESS=0xE919E45b4DcE6D478c1AE81a2354f86008bCdbA3
NEXT_PUBLIC_PENALTY_RESERVE_ADDRESS=0x739dDEb82e29a047D5c47FBf0A1871b7853a2da4
NEXT_PUBLIC_DEFAULT_TOKEN_SYMBOL=mUSD
NEXT_PUBLIC_DEFAULT_TOKEN_ADDRESS=0x24a4aA28f0bE53f6466BFa681f94aDdb1F26F003
NEXT_PUBLIC_DEFAULT_TOKEN_DECIMALS=18
