NEXT_PUBLIC_WC_PROJECT_ID=
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_TREASURY_ADDRESS=
NEXT_PUBLIC_DEFAULT_TOKEN_SYMBOL=USDm
NEXT_PUBLIC_DEFAULT_TOKEN_ADDRESS=0x765de816845861e75a25fca122bb6898b8b1282a
NEXT_PUBLIC_DEFAULT_TOKEN_DECIMALS=18
